<nav class="navbar navbar-dark bg-dark px-3">
    <div class="container-fluid">

        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo.png" alt="" width="150" height="auto">
            </a>
            <p class="text-white d-none d-lg-block">您好! 040 許之瑜</p>
        </div>

        <a class="text-white" href="">登出</a>

    </div>
</nav>